*{margin: 0; padding: 0; border: 0;}

:root {
    --links-size: 20px;
    --letter-spacing: 4px;
    --line-height: 30px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000;
}

.container {
    width: 65%;
    margin: 0 auto;
}


/* HEADER-------------------------------------------------------------- */

.intro {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: -200px;
}

.intro--video {
    width: 100%;
    opacity: 0.5;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px 10px #fff;
}

.nav--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.nav--logo {
    color: #000;
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
}

a {
    text-decoration: none;
}

li a {
    margin-left: 18px;
    font-size: var(--links-size);
    color: #000;
}

li a:hover {
    text-decoration: underline;
}

.nav--links {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 650px;
    margin: 0 auto;
}

.info--title {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
}

.info--subtitle {
    color: #fff;
    margin-top: 80px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
}

/* MAIN-------------------------------------------------------------- */

main {
    background-color: #000;
    color: #fff;
}

.main--sidebar {
    float: right;
}

/* FOOTER-------------------------------------------------------------- */

footer {
    background-color: rgb(22, 22, 22);
}